.top-header {
  background: #fff;
  height: 2.875em;
  line-height: 2.875em;
}
.top-header div {
  display: inline-block;
}
.top-header .top-header__promo {
  font-size: 0.875em;
  margin-left: 2.06625em;
}
.top-header .nav-header-top {
  font-size: 0.875em;
  text-transform: uppercase;
  float: right;
  margin-right: 2.06625em;
}
.top-header .nav-header-top .nav-header-top__item {
  list-style: none;
  display: inline-block;
  padding-left: 1.25em;
}
.top-header .nav-header-top .nav-header-top__item a {
  text-decoration: none;
  color: #ababab;
}
.top-header .nav-header-top .nav-header-top__item_top_active a {
  color: #4cb1ca;
}
.middle-header {
  height: 12.25em;
}
.middle-header .middle-header__logo {
  margin: 4.0625em 0 4.0625em 1.033125em;
}
.middle-header .middle-header__logo .logo-img {
  max-width: 100%;
  height: auto;
}
.middle-header .middle-header__social ul {
  float: right;
  margin: 4.5625em -0.9375em 4.5625em 0;
}
.middle-header .middle-header__social ul .social-item {
  padding-left: 1em;
  list-style: none;
  display: inline-block;
  opacity: 0.3;
}
.header-bottom {
  background: #fff;
  height: 2.875em;
  line-height: 2.875em;
  border-bottom: 5px solid #f02b63;
}
.header-bottom .header-bottom__menu {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.125em;
  margin-left: -0.9375em;
}
.header-bottom .header-bottom__menu .header-bottom-menu-item {
  display: inline-block;
  list-style: none;
  padding: 0 4.92537313%;
  position: relative;
}
.header-bottom .header-bottom__menu .header-bottom-menu-item .select {
  position: absolute;
  bottom: -14px;
  left: 40%;
  display: none;
}
.header-bottom .header-bottom__menu .header-bottom-menu-item .select_visible {
  display: block;
}
.header-bottom .header-bottom__menu .header-bottom-menu-item a {
  text-decoration: none;
  color: #1d1d1d;
}
.header-bottom .header-bottom__menu .header-bottom-menu-item .header-bottom-menu-item_active {
  color: #f02b63;
}
.header-bottom .header-bottom__shop-cart {
  float: right;
  text-transform: uppercase;
  margin-right: -0.9375em;
  font-size: 1.125em;
}
.header-bottom .header-bottom__shop-cart .shop-cart__items {
  color: #4cb1ca;
  padding-left: 5px;
}
.header-bottom .header-bottom__shop-cart .shop-cart__price {
  color: #7db122;
  padding-left: 5px;
}
.header-bottom .header-bottom__shop-cart .shop-cart__dropdown {
  display: inline-block;
  margin-right: 1.56625em;
}
.header-page-title {
  text-transform: uppercase;
  font-size: 1.125em;
}
.header-page-title .page-title {
  display: inline-block;
  width: 13%;
  float: left;
}
.header-page-title .page-title div {
  margin: 10px 0px 15px 9.2%;
  padding-right: 0px;
  border-right: 3px solid #4cb1ca;
  font-weight: bold;
  color: #4cb1ca;
}
.header-page-title .page-description {
  display: inline-block;
  width: 86%;
  float: right;
  margin-right: -0.9375em;
}
.header-page-title .page-description div {
  margin: 10px 0px 15px;
}
@media screen and (max-width: 991px) {
  .header-bottom {
    height: 6.075em;
    border-bottom: none;
  }
  .header-bottom .header-bottom__menu {
    text-align: center;
    border-bottom: 5px solid #f02b63;
    margin-right: -0.9375em;
    margin-bottom: 0px;
  }
  .header-bottom .header-bottom__menu .header-bottom-menu-item .select {
    bottom: -17px;
  }
}
@media screen and (max-width: 790px) {
  .top-header .top-header__promo {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .middle-header {
    height: 10em;
  }
  .middle-header .middle-header__logo {
    margin: 0.625em 0 0.625em 1.033125em;
  }
  .middle-header .middle-header__social {
    overflow: hidden;
  }
  .middle-header .middle-header__social ul {
    margin: 0.665em 0;
  }
}
@media screen and (max-width: 680px) {
  .header-bottom .header-bottom__menu .header-bottom-menu-item {
    padding: 0 1.925373%;
  }
}
@media screen and (max-width: 480px) {
  .middle-header .middle-header__logo {
    text-align: center;
    margin: 0.625em;
  }
  .middle-header .middle-header__social ul {
    float: none;
    margin: 0.665em 0;
    text-align: center;
  }
}
.content-end-sidebar {
  background-color: #fff;
}
.content-end-sidebar .content-page {
  border-right: 2px dashed #f1f1f1;
}
.content-end-sidebar .content-page .content {
  width: 97.59259259%;
  margin: 0 auto;
}
.content-end-sidebar .content-page .content .content_p_style {
  text-transform: uppercase;
  color: #7db122;
  margin-left: 1.53846154%;
  font-size: 1.125em;
  font-weight: 600;
  margin-bottom: 1.0375em;
}
.content-end-sidebar .content-page .content .content__main-image {
  width: 100%;
  height: 14.390625em;
  margin: 2.125em auto 0;
  overflow: hidden;
}
.content-end-sidebar .content-page .content .content__main-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.content-end-sidebar .content-page .content .content__featured-products {
  width: 97%;
  margin: 2.859375em auto;
}
.content-end-sidebar .content-page .content .content__featured-products .list-products {
  overflow: hidden;
  list-style: none;
  height: auto;
}
.content-end-sidebar .content-page .content .content__featured-products .list-products .article {
  position: relative;
  float: left;
  border: 2px solid #f1f1f1;
  width: 30.15384615%;
  margin: 0 1.53846154% 1em 1.53846154%;
  background-color: #fcfcfc;
}
.content-end-sidebar .content-page .content .content__featured-products .list-products .article .article__img {
  width: 100%;
  height: 8.0625em;
}
.content-end-sidebar .content-page .content .content__featured-products .list-products .article .article__img_1_1 {
  background: url(img/preview-image_3_1.png) no-repeat 50% 50%;
}
.content-end-sidebar .content-page .content .content__featured-products .list-products .article .article__img_1_2 {
  background: url(img/preview-image_3_2.png) no-repeat 50% 50%;
}
.content-end-sidebar .content-page .content .content__featured-products .list-products .article .article__img_1_3 {
  background: url(img/preview-image_3_3.png) no-repeat 50% 50%;
}
.content-end-sidebar .content-page .content .content__featured-products .list-products .article .article__img_2_1 {
  background: url(img/preview-image_2_1.png) no-repeat 50% 50%;
}
.content-end-sidebar .content-page .content .content__featured-products .list-products .article .article__img_2_2 {
  background: url(img/preview-image_2_2.png) no-repeat 50% 50%;
}
.content-end-sidebar .content-page .content .content__featured-products .list-products .article .article__img_2_3 {
  background: url(img/preview-image_2_3.png) no-repeat 50% 50%;
}
.content-end-sidebar .content-page .content .content__featured-products .list-products .article .article__img_3_1 {
  background: url(img/preview-image_3_1.png) no-repeat 50% 50%;
}
.content-end-sidebar .content-page .content .content__featured-products .list-products .article .article__img_3_2 {
  background: url(img/preview-image_3_2.png) no-repeat 50% 50%;
}
.content-end-sidebar .content-page .content .content__featured-products .list-products .article .article__img_3_3 {
  background: url(img/preview-image_3_3.png) no-repeat 50% 50%;
}
.content-end-sidebar .content-page .content .content__featured-products .list-products .article .article__description {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #e8e8e8;
  color: black;
  height: 1.5625em;
  line-height: 25px;
}
.content-end-sidebar .content-page .content .content__featured-products .list-products .article .article__description_text {
  color: #818181;
  float: left;
  padding-left: 5.12820513%;
  font-weight: 400;
}
.content-end-sidebar .content-page .content .content__featured-products .list-products .article .article__description_price {
  color: #f02b63;
  float: right;
  padding-right: 5.12820513%;
  font-weight: 600;
}
.content-end-sidebar .content-page .content .content__featured-products .list-pages {
  list-style: none;
  text-align: center;
  margin: 2em 0 2.5em;
}
.content-end-sidebar .content-page .content .content__featured-products .list-pages .list-pages__item {
  display: inline-block;
  line-height: 1.8em;
}
.content-end-sidebar .content-page .content .content__featured-products .list-pages .list-pages__item a {
  display: block;
  width: 1.6875em;
  height: 1.6875em;
  font-size: 1.125em;
  text-decoration: none;
  color: #466972;
  border-radius: 50%;
}
.content-end-sidebar .content-page .content .content__featured-products .list-pages .list-pages__item a:hover {
  background-color: #dedede;
}
.content-end-sidebar .content-page .content .content__featured-products .list-pages .list-pages__item_active a {
  background-color: #7db122;
  color: #fff;
}
.content-end-sidebar .content-page .content .content__featured-products .list-pages .list-pages__item_active a:hover {
  background-color: #7db122;
}
@media screen and (max-width: 980px) {
  .content-end-sidebar .content-page .content .content__featured-products .list-products .article {
    width: 46.5%;
  }
}
@media screen and (max-width: 767px) {
  .content-end-sidebar .content-page {
    border-right: none;
  }
  .content-end-sidebar .content-page .content .content__featured-products .list-products .article {
    width: 30.15384615%;
  }
}
@media screen and (max-width: 680px) {
  .content-end-sidebar .content-page {
    border-right: none;
  }
  .content-end-sidebar .content-page .content .content__featured-products .list-products .article {
    width: 46.5%;
  }
}
.content-end-sidebar {
  position: relative;
}
.content-end-sidebar__corner {
  position: absolute;
  right: 0;
  bottom: 0;
}
.sidebar-page .sidebar {
  width: 82.23684211%;
  margin: 0 auto;
  font-size: 1.125em;
  font-weight: 600;
}
.sidebar-page .sidebar .corner-top {
  position: absolute;
  top: -7px;
  left: -20px;
}
.sidebar-page .sidebar .sidebar_p_style {
  text-transform: uppercase;
  color: #7db122;
  margin-bottom: 0.8em;
}
.sidebar-page .sidebar .sort-products {
  margin: 0.8em 0 0;
}
.sidebar-page .sidebar .sort-products .btn-group {
  width: 100%;
  color: #ababab;
}
.sidebar-page .sidebar .sort-products .btn-group .btn {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
  width: 100%;
  height: 2.1428571429em;
  text-align: left;
  color: #ababab;
  margin-bottom: 0.6857142857em;
  font-weight: 600;
  font-size: 0.875em;
}
.sidebar-page .sidebar .sort-products .btn-group .btn .sort_by {
  color: #f02b63;
}
.sidebar-page .sidebar .sort-products .btn-group .btn .caret {
  float: right;
  border-right: 5px solid transparent;
  border-top: 9px dashed;
  border-left: 5px solid transparent;
  color: #dfdfdf;
  margin: 0.4em;
}
.sidebar-page .sidebar .best-sellers {
  cursor: pointer;
  margin: 1.75em 0;
}
.sidebar-page .sidebar .best-sellers .best-sellers-item {
  background-color: #f9f9f9;
  margin: 0.375em 0;
  overflow: hidden;
}
.sidebar-page .sidebar .best-sellers .best-sellers-item .best-sellers-item__img {
  width: 20%;
  height: 3em;
  float: left;
  margin: 0.4625em 0.5625em;
}
.sidebar-page .sidebar .best-sellers .best-sellers-item .best-sellers-item__img_1 {
  background: url(img/product-preview_1.png) no-repeat 50% 50%;
}
.sidebar-page .sidebar .best-sellers .best-sellers-item .best-sellers-item__img_2 {
  background: url(img/product-preview_2.png) no-repeat 50% 50%;
}
.sidebar-page .sidebar .best-sellers .best-sellers-item .best-sellers-item__head {
  padding-top: 0.25em;
  font-size: 0.875em;
  color: #4cb1ca;
}
.sidebar-page .sidebar .best-sellers .best-sellers-item .best-sellers-item__description {
  font-size: 0.7em;
}
.sidebar-page .sidebar .best-sellers .best-sellers-item .best-sellers-item__price {
  font-size: 0.7em;
  float: left;
  padding-right: 1em;
  border-right: 1px solid #ababab;
}
.sidebar-page .sidebar .best-sellers .best-sellers-item .best-sellers-item__price span {
  color: #f02b63;
}
.sidebar-page .sidebar .best-sellers .best-sellers-item .best-sellers-item__country {
  font-size: 0.7em;
  float: left;
  padding-left: 1em;
}
.sidebar-page .sidebar .best-sellers .best-sellers-item .best-sellers-item__country span {
  color: #f02b63;
}
.sidebar-page .sidebar .payment-options {
  margin: 2.5em 0;
}
.sidebar-page .sidebar .payment-options .payment-list {
  overflow: hidden;
  list-style: none;
}
.sidebar-page .sidebar .payment-options .payment-list .payment-list__item {
  width: 32%;
  height: 2.9375em;
  float: left;
  display: inline-block;
  opacity: 0.4;
  margin-right: 1.16666%;
  cursor: pointer;
}
.sidebar-page .sidebar .payment-options .payment-list .payment-list__item_paypal {
  background: url(img/PayPal.png) no-repeat 50% 50%;
}
.sidebar-page .sidebar .payment-options .payment-list .payment-list__item_visa {
  background: url(img/Visa.png) no-repeat 50% 50%;
}
.sidebar-page .sidebar .payment-options .payment-list .payment-list__item_wirecard {
  background: url(img/Wirecard.png) no-repeat 50% 50%;
}
.sidebar-page .sidebar .payment-options .payment-list .payment-list__item_mastercard {
  background: url(img/Mastercard.png) no-repeat 50% 50%;
}
.sidebar-page .sidebar .payment-options .payment-list .payment-list__item_maestro {
  background: url(img/Maestro.png) no-repeat 50% 50%;
}
.sidebar-page .sidebar .payment-options .payment-list .payment-list__item_cash {
  background: url(img/Cash.png) no-repeat 50% 50%;
}
@media screen and (max-width: 980px) {
  .sidebar-page .sidebar {
    width: 100%;
  }
}
@media screen and (max-width: 805px) {
  .sidebar-page .sidebar .best-sellers .best-sellers-item {
    height: 5em;
  }
}
@media screen and (max-width: 767px) and (min-width: 481px) {
  .sidebar-page .sidebar .corner-top {
    display: none;
  }
  .sidebar-page .sidebar .sidebar_p_style {
    text-align: center;
  }
  .sidebar-page .sidebar .sort-products {
    width: 80%;
    margin: 0 auto;
  }
  .sidebar-page .sidebar .best-sellers {
    width: 80%;
    margin: 0 auto;
  }
  .sidebar-page .sidebar .best-sellers .best-sellers-item {
    height: 4em;
  }
  .sidebar-page .sidebar .payment-options .payment-list {
    width: 50%;
    margin: 0 auto;
  }
  .sidebar-page .sidebar .payment-options .payment-list .payment-list__item {
    height: 3.9375em;
  }
}
@media screen and (max-width: 480px) {
  .sidebar-page .sidebar .corner-top {
    display: none;
  }
}
.footer {
  height: 5em;
  line-height: 5em;
  overflow: hidden;
  color: #466972;
}
.footer .company {
  float: left;
}
.footer .to-top {
  float: right;
  text-transform: uppercase;
}
.footer .to-top a {
  text-decoration: none;
  color: #466972;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
.page {
  font-size: 100%;
  color: #ababab;
  width: 100%;
  background-image: url(img/bg.png);
}
.wrapper {
  width: 100%;
  max-width: 1005px;
  margin: 0 auto;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
a {
  color: #ababab;
}
